html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title=title
    meta(name="description", content="Penetration Testing Lab 2024")
    meta(name="author", content="Fray117")
    meta(name="viewport", content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header

    block content

    block footer
      footer
